body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  margin: 0;
}

.display-flex {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}

.studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu {
  gap: 40px;
  display: flex;
}

.contact-menu {
  gap: 40px;
  display: flex;
  padding-left: 250px;
}

.header-container {
  display: flex;
}

nav {
  align-items: center;
}

.header {
  padding: 0 15px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}

.link-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  display: flex;
}

.address {
  font-style: normal;
}

.link-text:hover,
.link-text:focus {
  color: #404bbf;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.solutions {
  background: #2e2f42;
  padding: 188px 0;
}

.link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.heading-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.attributes {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.attributes-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.attributes-list-item {
  width: calc((100% - 72px) / 4);
}

.attributes-heading {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  padding: 0;
  display: flex;
  gap: 24px;
}

.team-description-heading {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-container {
  margin: 0;
  padding: 32px 0;
  text-align: center;
}

.box {
  background-color: #ffffff;
  list-style-type: none;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-box {
  width: calc((100% - 48px) / 3);
}

.portfolio-description {
  max-width: 360px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-description-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #434455;
  margin-bottom: 8px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
